
<div id="component" class="actu-preview">
    <div class="actu-image">
        <img class="image" src={{image}}>
    </div>
    <div class="actu-infos">
        <div class="logo"><img height="16" width="16" src={{logo}}><p class="actu-editor">Le Figaro</p></div>
        <h3 class="title">{{titre}}</h3>
        <p>{{description}}</p>
    </div>
</div>

