

.actu-preview {
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.1rem solid var(--light-gray);
    margin: 1rem;
    width: 30rem;
    height: 13rem;
    box-shadow: 0rem 0.2rem 1rem -0.3rem var(--purple);
    transition: all 0.2s;
}

.actu-preview:hover {
    box-shadow: 0rem 0.1rem 1rem -0.3rem var(--light-purple);
    transform: scale(1.01);
    cursor: pointer;
}

.actu-image {
    width: 18rem;
}

.image {
    object-fit:fill;
    height: 100%;
}

.actu-infos {
    background: var(--white);
    color: var(--gray);
    padding: 0.5rem;
    font-size: 0.70rem;
}

.title {
    color: var(--dark-gray);
    font-size: 0.85rem;
    font-weight: bold;
}

.actu-editor {
    margin: 0 0 0 0.5rem;
}

.logo {
    font-style: italic;
    height: 1rem;
    display: flex;
    align-items: flex-end;
    font-size: 0.5rem;
}