<div class="statistiques">
    <div class="statistiques-header">
        <mat-icon [inline]="true" class="Statistiques-icon">equalizer</mat-icon>
        <h2 class="statistiques-title">Le détail de vos statistiques</h2>
    </div>
    <div class="graphs">
        <div>
            <h3>Nombre de mots moyen dans une phrase :</h3>
            <fm-pivot #pivot [componentFolder]="'https://cdn.flexmonster.com/'"
                [toolbar]="true"
                [width]="'100%'"
                [height]="'70vh'"
                [licenseKey]="'Z7EI-XB416V-074D55-0E310D'"
                (ready)="onReady()"
                (beforetoolbarcreated)="customizeToolbar($event)">
            </fm-pivot>
        </div>
        <div class="row">
            <div class="col">
                <div class="title">
                    <h3>Mots les plus utilisés :</h3>
                </div>
                <div class="chart">
                    <fm-pivot #pivot_3 [componentFolder]="'https://cdn.flexmonster.com/'"
                        [toolbar]="true"
                        [width]="'100%'"
                        [height]="'70vh'"
                        [licenseKey]="'Z7EI-XB416V-074D55-0E310D'"
                        (ready)="onReady_2()"
                        (beforetoolbarcreated)="customizeToolbar_3($event)">
                    </fm-pivot>
                </div>
            </div>    
            <div class="col">
                <div class="title">
                    <h3>Nombre de mots moyen dans un message :</h3>
                </div>
                <div class="chart">
                    <fm-pivot #pivot_2 [componentFolder]="'https://cdn.flexmonster.com/'"
                        [toolbar]="true"
                        [width]="'100%'"
                        [height]="'70vh'"
                        [licenseKey]="'Z7EI-XB416V-074D55-0E310D'"
                        (ready)="onReady_3()"
                        (beforetoolbarcreated)="customizeToolbar_2($event)">
                    </fm-pivot>
                </div>
            </div>
        </div>
        <div >
            <div id="container" ></div>
        </div>
    </div>
</div>
