.statistiques-header {
    color: var(--purple);
    display: flex;
    align-items: center;
    height: auto;
}

.statistiques-title {
    color: var(--white);
    text-decoration: underline;
}

.Statistiques-icon {
    font-size: 1.5rem !important;
    border: 0.2rem solid var(--purple);
    border-radius: 10%;
    margin-right: 0.6rem;
}

.statistiques {

    background-color: var(--dark-blue);
    color: var(--white);
    padding: 2.5rem;
    min-height: 135vh;
}

.Fin-de-page {
    align-items: center;
    text-decoration: underline;
}

.col {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.title {
    min-height: 8vh;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.graphs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.word-cloud {
    display: flex;
    justify-content: center;
    align-items: center;
}

