
<!-- (ngSubmit)="navigateToUsers(f)" -->
<div class="login-body">
    <div class="login-header">
        <img src='assets/LogoRetorik-violet.png' height='120' width='120'/>
        <div class="login-title">
            <h1>Rétorik</h1>
            <h4>L'art de bien parler</h4>
        </div>
    </div>
    <div class="form-content">
        <form #f='ngForm' (ngSubmit)="submitForm(f)">
            
            <h2 class="title">
                CONNECTE TOI
            </h2>

            <div class="form-items">

                <div>
                    <h3 class="field-title">ADRESSE E-MAIL</h3>
                    <div class="form-group">
                        <input type="email" class="form-control " name="email" value="" placeholder="Entrez votre e-mail..."  required ngModel />
                    </div>
                </div>

                <div>
                    <h3 class="field-title">MOT DE PASSE</h3>
                    <div class="form-group">
                        <input type="password" class="form-control " name="mdp" value="" placeholder="Entrez votre mot de passe..." required ngModel />
                    </div>
                </div>
                
                <div class="input-group">
                    <button type="submit" class="btn center">SE CONNECTER</button>
                </div> 
            </div> 
        </form>
    </div>
    
</div>
