
h1 {
    margin: 0;
    color:var(--light);
}

h4 {
    margin: 0;
    font-style: italic;
    color : var(--purple);
}

form {
    display: flex;
    flex-direction: column;
    color:var(--white);
    padding-top: 1rem;
}

.login-header {
    display: flex;
    flex-direction: row;   
}

.login-body {
    background-image: url(../../../assets/galaxy-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.login-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content {
    background-color: var(--dark-gray);

    width: 40vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;

    display: flex;
    justify-content:center;
}

.form-items {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-top: -2rem;
    padding: 0;

    height: 100%;
}

.field-title {
    font-size:0.9rem;
}

.title {
    text-align: center;
    font-size:1.2rem;
}

.input-group {
    text-align: center;
}

.btn {
    padding: 0.5rem;
    width: 21rem;
    height: 2.3rem;
    border-radius: 0.8rem;
    color: var(--light);
    background-color: var(--purple);
    background-image: linear-gradient(90deg, var(--light-purple), rgba(255, 255, 255, 0) );
    transition: all 1s;
    border:none;
}

.btn:hover {
    /* background: linear-gradient(90deg, var(--purple) 0%, var(--light-purple) 100%); */
    filter: brightness(0.60);
    color: var(--white);
}

.form-control {
    width:20rem;
    height: 2rem;
    border-radius: 2rem;
    border:none;
    padding-left: 1rem;
}
