
.left-bar {
    display: flex;
    flex-direction: column;
}

.right-bar {
    display: flex;
    border-left: 0.05rem solid var(--light-gray);
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--white);
    height: 100vh;
}

.left-header {
    background-color: var(--light);
    font-family: 'Comfortaa', sans-serif;
    height: 3vh;
    padding: 0.75rem;
    color: var(--purple);
    line-height: 1.2rem;
    font-size: 1rem;
    text-align: center;
}

.messages {
    overflow-y: scroll;
    border-bottom: 0.5rem solid var(--light-gray) ;
    min-height: 82vh;
}

.message {
    display: flex;
    margin: 2rem 1rem 2rem 0rem;
}

.icon {
    border-radius: 50%;
    margin: 1rem;
    min-width: 2rem;
    height: 2rem;
    background-color: var(--purple);
}

.message-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
}

.date {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 1rem;
    color: var(--gray);
    text-transform:capitalize;
}

.message-source {
    margin-top: 0.2rem;
}

.message-link {
    color: var(--light-blue);
    font-size: 0.7rem;
    font-style: italic;
    transition: all 0.5s;
}

.message-link:hover {
    color: var(--light-purple);
}

.message-text {
    color: var(--light);
    margin-top: 0.2rem;
    font-size: 1rem;
}

.left-footer {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-right: 0.5rem solid var(--light-gray) ;
    justify-content: center;
}

.form-group {
    width: 100%;
}

.bottom-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-message {
    width: 25vw;
    height: 5vh;
    background: var(--dark-gray);
    color: var(--light);
    outline: none;
    border: none;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    padding: 0 5.2vw 0 1vw;
    font-size: 0.8rem;
}

.btn-submit {
    width: 5vw;
    height: 5vh;
    margin-left: -5vw;
    color: var(--light);
    font-size: 0.6rem;
    font-variant: small-caps;
    outline: none;
    border: none;
    border-radius: 0rem 0rem 0.8rem 0rem;
    background-color: var(--purple);
    background-image: linear-gradient(90deg, var(--light-purple), rgba(255, 255, 255, 0) );
    box-shadow: 0rem 0.5rem 1rem -0.3rem var(--purple);
    transition: all 0.5s;
}
  
.btn-submit:hover {
    cursor: pointer;
    filter: brightness(0.60);
    color: var(--white);
    border-radius: 0rem 0rem 0.8rem 0rem;
    box-shadow: 0rem 0.5rem 1rem -0.3rem var(--light-purple);
}

.form-link {
    width: 25vw;
    height: 3.5vh;
    background: var(--dark-gray);
    color: var(--light);
    outline: none;
    border: none;
    border-bottom: 0.1rem solid var(--light-gray);
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    padding: 0 0.2vw 0 1vw;
    font-size: 0.8rem;
}

::ng-deep.mat-tab-label-active {
    font-weight: bold;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    background-color: var(--gray);
}

.tab {
    background-color: var(--gray);
}



.tab-nav {
    display: flex;
}

.label {
    color: var(--white);
    font-size: 0.8rem;
    left: -0.1rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-input {
    width: 20rem;
    height: 2.8rem;
    background: var(--white);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 0.8rem;
    box-shadow: 0rem 0.5rem 1rem -0.3rem var(--purple);
}

#search-input:hover {
    box-shadow: 0rem 0.5rem 1rem -0.3rem var(--light-purple);
    transition: all 0.2s;
}

#search-submit {
    border-radius: 1.625rem;
    margin-left: -3.5rem;
    width: 3.5rem;
    height: 2.8rem;
    background: none;
    border: none;
    outline: none;
    transition: background 0.5s ease;
}
  
#search-submit:hover {
    cursor: pointer;
    background: rgba(220, 220, 220, 2);
    border-radius: 1.625rem;
}

.def-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.2rem solid var(--light-gray);
}

.scroll-div {
    position: sticky;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 100%;
    top: 80%;
    height: 5vh;
    width: 12vw;
    background-color:var(--dark-gray);
    border-radius: 1rem 0 0 1rem;
    opacity: 0.7;
    transition: all 0.3s;
    padding:0.5rem
}

.scroll-info {
    font-size: 1.2vh;
    margin-left: 1vw;
    color: var(--light-gray);
}

.scroll-action {
    font-size: 1.3vh;
    margin-left: 1vw;
    color: var(--light-purple);
}

.scroll-div:hover {
    cursor: pointer;
    opacity: 1;
}

.def-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 0.2rem solid var(--light-gray);
}

.def-content-header {
    display: flex;
    align-items: center;
}

.def-title {
    font-family: 'Comfortaa', sans-serif;
    color: var(--light-purple);
    margin: 0.5rem;
    font-size: 1.5vw;
}

.def-gender {
    color: var(--light-gray);
    font-style: italic;
    font-size: 0.8vw;
    margin: 0.5rem;
}

.definition {
    padding: 1rem;
}

.synonymes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80%;
    grid-gap: 0.1rem;
    padding: 1rem;
}

.grid {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

::ng-deep mat-tab-header {
    min-width: 36vw;
    background-color: var(--gray);
}
