<div class="content" >
    <div class="left-bar">
        <div class="left-header">
            {{subject}}
        </div>
        <div #msg class="messages" (scroll)="onScroll($event)">
            <div (click)="scrollToBottom()" [style.display]="isScrolled ? 'flex' : 'none'" class="scroll-div">
                <div class="scroll-info">
                    Vous regardez d'anciens messages.
                </div>
                <div class="scroll-action">
                    Cliquez pour redescendre. 
                </div>
            </div>
            <div *ngFor="let message of discussionMessages">
                <div class="message">
                    <div class="icon"></div>
                    <div class="message-content">
                        <div class="info">
                            <div class="username">
                                {{message.id_users.name}} {{message.id_users.surname}}
                            </div>
                            <div *ngIf="message.newDate" class="date">
                                {{message.newDate}}
                            </div>
                        </div>
                        <div class="message-source">
                            <a class="message-link" href="{{message.id_messages.source_link}}">{{message.id_messages.source_link}}</a>
                        </div>
                        <div class="message-text">
                            {{message.id_messages.full_message}} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-footer">
            <form autocomplete="off" #t='ngForm' (ngSubmit)="addMessage(t)">
                <div class="form-group">
                    <input type="text" class="form-link" name="lien" value="" placeholder="Joignez un lien..." ngModel /> <br>
                    <div class="bottom-fields">
                        <input type="text" class="form-message " name="message" value="" placeholder="Entrez un message..." ngModel />
                        <button type="submit" class="btn-submit">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="right-bar">
        <mat-tab-group [style]="'background-color:var(--dark-gray)'"  >
            <mat-tab >
                <ng-template mat-tab-label>
                    <span class="label">Définitions</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="tab-content">
                        <div class="def-header">
                            <form autocomplete="off" #p='ngForm' (ngSubmit)="rechercheDefinition(p)">
                                <div class="searchBar">
                                  <input id="search-input" type="text" placeholder="Chercher une définition" name="texte" value="" ngModel/>
                                  <button id="search-submit" type="submit" name="searchQuerySubmit">
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                            </form>
                        </div>
                        <div class="def-content">
                            <div class="def-content-header">
                                <div class="def-title">
                                    Agrégation
                                </div>
                                <div class="def-gender">
                                    Féminin
                                </div>
                            </div>
                            <div class="definition">
                                Action d'agréger, fait de s'agréger, ou admission sur concours au titre d'agrégé.
                            </div>
                        </div>
                        <div class="def-content">
                            <div class="def-content-header">
                                <div class="def-title">
                                    Plébisciter
                                </div>
                                <div class="def-gender">
                                    Verbe transitif
                                </div>
                            </div>
                            <div class="definition">
                                Voter (qqch.), désigner (qqn) par plébiscite. Élire (qqn) ou approuver (qqch.) à une majorité écrasante.
                            </div>
                        </div>
                    </div> 
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">Synonymes</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="tab-content">
                        <div class="def-header">
                            <form autocomplete="off" #p='ngForm' (ngSubmit)="rechercheDefinition(p)">
                                <div class="searchBar">
                                  <input id="search-input" type="text" placeholder="Chercher un synonyme" name="texte" value="" ngModel/>
                                  <button id="search-submit" type="submit" name="searchQuerySubmit">
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                            </form>
                        </div>
                        <div class="def-content">
                            <div class="def-content-header">
                                <div class="def-title">
                                    Agrégation
                                </div>
                                <div class="def-gender">
                                    Féminin
                                </div>
                            </div>
                            <div class="synoymes">
                                Synonyme(s) :
                                <div class="synonymes-grid">
                                    <div class="grid">Accrétion.</div>
                                    <div class="grid">Agglomération.</div>
                                    <div class="grid">Assemblage.</div>
                                    <div class="grid">Association.</div>
                                </div>                                
                            </div>
                        </div>
                        <div class="def-content">
                            <div class="def-content-header">
                                <div class="def-title">
                                    Plébisciter
                                </div>
                                <div class="def-gender">
                                    Verbe transitif
                                </div>
                            </div>
                            <div class="synoymes">
                                Synonyme(s) :
                                <div class="synonymes-grid">
                                    <div class="grid">Élire.</div>
                                    <div class="grid">Choisir.</div>
                                    <div class="grid">Confirmer.</div>
                                    <div class="grid">Rassurer.</div>
                                </div>                                
                            </div>
                        </div>
                    </div> 
                </ng-template> 
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">Statistiques</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="tab-content">
                        <app-statistiques-component></app-statistiques-component>>
                    </div> 
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">Navigateur web</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="tab-nav">
                        <iframe style="width: 100%; height: 100vh;" src="https://www.google.fr/webhp?igu=1"></iframe>
                    </div> 
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>


