
.user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    width: 12vw;
    height: 15vh;
    margin: 1rem;
}

.user-name {
    font-size: 0.8rem;
}

.user-icon {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
