
.iframe {
    width: 90%;
}

.mat-typography {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 70vw;
}

::ng-deep mat-dialog-container {
    background-color: var(--gray) !important;
}

button {
    background-color: var(--dark-gray);
    color: var(--light);
}