<div class="popup">
    <mat-dialog-content class="mat-typography background-gray">
        <iframe class="iframe" src="https://www.actu-juridique.fr/culture/question-de-rhetorique-zelensky-ou-lart-du-recit-dans-levocation-du-combat/"></iframe>
    </mat-dialog-content>
    <mat-dialog-actions class="background-gray" align="end">
        <button mat-button mat-dialog-close>Fermer</button>
    </mat-dialog-actions>
</div>