  <!-- -->
  <div class="actus">
    <div class="left-bar">
  
      <div class="actus-list">
        <mat-icon [inline]="true" class="actus-list-icon">edit</mat-icon>
        <h2 class="actus-list-title">Les actualités</h2>
      </div>

      <app-preview-actu-component [titre]="titre1" [description]="description1" [image]="image1">
      </app-preview-actu-component>
      <app-preview-actu-component [titre]="titre2" [description]="description2" [image]="image2">
      </app-preview-actu-component>
      <app-preview-actu-component [titre]="titre3" [description]="description3" [image]="image3">
      </app-preview-actu-component>

    </div> 
  
    <div class="right-bar">
  
      <div class="actus-list">
        <mat-icon [inline]="true" class="actus-list-icon">assignment</mat-icon>
        <h2 class="actus-list-title">Les actualités choisies par votre établissment</h2>
      </div>
  
      <app-preview-actu-component [titre]="titre1" [description]="description1" [image]="image1">
      </app-preview-actu-component>
      <app-preview-actu-component [titre]="titre2" [description]="description2" [image]="image2">
      </app-preview-actu-component>
      <app-preview-actu-component [titre]="titre3" [description]="description3" [image]="image3">
      </app-preview-actu-component>
  
    </div>
  </div>