
.left-bar {
    width: 50%;
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow-y: scroll;
}

.actus {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--white);
    height: 100vh;
    width: 86vw;
}

.actus-list {
    color: var(--purple);
    display: flex;
    align-items: center;
    height: auto;
}

.actus-list-title {
    color: var(--white);
    text-decoration: underline;
    font-size: 1.2rem;
}

.actus-list-icon {
    font-size: 1.5rem !important;
    border: 0.2rem solid var(--purple);
    border-radius: 10%;
    margin-right: 0.6rem;
}