
h3 {
    margin: 0;
    color:var(--light);
}

:disabled {
    filter: brightness(0.60);
}

h4 {
    margin: 0;
    font-style: italic;
    color : var(--purple);
    font-size: 0.7rem;
}

mat-divider {
    margin: 1rem;
    color: var(--gray);
    background-color: var(--gray);
    height: 0.1rem;
}

.toolbar {
    background: var(--dark-gray);
    color: var(--white);
    width: 14vw;
    border-right: none;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar-header {
    display: flex;
    flex-direction: row;   
}

.toolbar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toolbar-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
}

.nav-link {
    color: var(--light-gray);
}

.active {
    color: var(--white);
    font-weight: bold;
}

.mat-icon {
    margin: 0.7rem;
    color: var(--purple);
}

.toolbar-footer {
    margin-bottom: 1rem;
}

.toolbar-user {
    display: flex;
    justify-content: flex-end;
}

.user-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.disconnect {
    width: auto;
}

.user-type-1 {
    background: var(--light-purple);
}

.user-type-2 {
    background: var(--purple);
}

.user-type-3 {
    background: var(--blue);
}

.user-type-0 {
    background: var(--light-blue);
}

.active-icon {
    color: var(--light-purple);
} 
