<div class="toolbar">

    <div class="toolbar-top">
        <div class="toolbar-header">
            <img src='assets/LogoRetorik-violet.png' height='80' width='80'/>
            <div class="toolbar-title">
                <h3>Rétorik</h3>
                <h4>L'art de bien parler</h4>
            </div>
        </div>
    
        
        <div class="toolbar-buttons">
            <mat-divider></mat-divider>
            <button mat-button class="menu-button" routerLink="/accueil">
                <span class="nav-link" routerLinkActive="active">Accueil</span>
                <mat-icon routerLinkActive="active-icon">home</mat-icon>
            </button>
            <button mat-button class="menu-button" routerLink="/actualites">
                <span class="nav-link"  routerLinkActive="active">Actualités</span>
                <mat-icon routerLinkActive="active-icon">assignment</mat-icon>
            </button>
            <button mat-button class="menu-button" routerLink="/messaging">
                <span class="nav-link"  routerLinkActive="active">Débat écrit</span>
                <mat-icon routerLinkActive="active-icon">chat</mat-icon>
            </button>
            <button mat-button class="menu-button" routerLink="/vocal">
                <span class="nav-link"  routerLinkActive="active">Débat oral</span>
                <mat-icon routerLinkActive="active-icon">phone</mat-icon>
            </button>
            <button mat-button class="menu-button" routerLink="/statistiques">
                <span class="nav-link"  routerLinkActive="active">Statistiques</span>
                <mat-icon routerLinkActive="active-icon">equalizer</mat-icon>
            </button>
            <button mat-button class="menu-button" routerLink="/archives" disabled>
                <span class="nav-link"  routerLinkActive="active">Archives</span>
                <mat-icon routerLinkActive="active-icon">library_books</mat-icon>
            </button>
        </div>
    </div>

    
    <div class="toolbar-footer">
        <mat-divider></mat-divider>
        <div class="toolbar-user">
            <div id="icon" class="user-icon"></div>
            <button mat-button class="menu-button disconnect" routerLink="/login">
                <span class="nav-link" routerLinkActive="active">Déconnexion</span>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</div>
