
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// NOS VARIABLES COULEUR ICI
:root {
  
  --blue:#1501DF;
  --light-blue:#64DCF0;
  --dark-blue:#000141;
  --purple:#9C00FF;
  --light-purple:#F28FDD;
  --gray:#5E5E5E;
  --dark-gray:#262626;
  --light-gray:#9E9E9E;
  --light:#D3D3D3;
  --white:#FFFFFF;

  --green:#23C123;
  --red:#E00505;
  --yellow:#FFA300;
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-electron-primary: mat.define-palette(mat.$indigo-palette);
$angular-electron-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-electron-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-electron-theme: mat.define-light-theme((
  color: (
    primary: $angular-electron-primary,
    accent: $angular-electron-accent,
    warn: $angular-electron-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-electron-theme);

