/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import "app/themeFlexmonster/RetorikTest8/flexmonster.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Merriweather', serif; }
h1, h2, h3, h4 { font-family: 'Comfortaa', sans-serif; }

::-moz-selection {
    background: rgba(255, 255, 100, 0.5);
}

::selection {
    background: rgba(255, 255, 100, 0.5);
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background:var(--light-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:var(--dark-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#202020;
}