
a {
    color: var(--light-purple);
    transition: all 0.1s;
}

a:hover {
    filter: brightness(0.8);
}

ol {
    list-style-position: outside;
}

li {
    margin: 1rem;
}

span {
    position: relative;
    left: 2rem;
}

button:disabled {
    filter: brightness(0.5);
}

button:disabled:hover {
    box-shadow: 0rem 0.2rem 1rem -0.3rem var(--purple);
    color: var(--light);
    filter: brightness(0.5);
}

.left-bar {
    overflow-y: scroll;
}

.left-header {
    background-color: var(--light);
    font-family: 'Comfortaa', sans-serif;
    height: 3vh;
    padding: 0.75rem;
    color: var(--purple);
    line-height: 1.2rem;
    font-size: 1rem;
    text-align: center;
}

.right-bar {
    display: flex;
    border-left: 0.05rem solid var(--light-gray);
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: var(--white);
    height: 100vh;
}

.voc-users {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.voc-actions {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.left-actions {
    display: flex;
    justify-content: center;
}

.right-actions {
    display: flex;
    justify-content: center;
}

.mute {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border: none;
    background-color: var(--purple);
    border-radius: 50%;
    margin: 0.3rem;
}

.mute:hover {
    filter: brightness(0.8);
}

.link {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border: none;
    background-color: var(--gray);
    border-radius: 50%;
    margin: 0.3rem;
}

.link:hover {
    filter: brightness(0.8);
}

.small-caps {
    font-variant: small-caps;
    margin-left: 0.3rem;
}

.join {
    width: 15vw;
    height: 6vh;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 0.6rem;
    font-variant: small-caps;
    color: var(--light);
    background-color: var(--purple);
    background-image: linear-gradient(90deg, var(--light-purple), rgba(255, 255, 255, 0) );
    box-shadow: 0rem 0.2rem 1rem -0.3rem var(--purple);
    transition: all 0.2s;
    border:none;
}

.join:hover {
    filter: brightness(0.90);
    color: var(--white);
    box-shadow: 0rem 0.2rem 1rem -0.3rem var(--light-purple);
}

.leave {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 6vh;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 0.6rem;
    color: var(--light);
    background-color: var(--red);
    box-shadow: 0rem 0.2rem 1rem -0.3rem var(--purple);
    transition: all 0.2s;
    border:none;    
}

.leave:hover {
    color: var(--white);
    box-shadow: 0rem 0.2rem 1rem -0.3rem var(--light-purple);
    filter: brightness(0.90);
}

.voc-table {
    background-color: var(--dark-gray);
    border: 0.1rem solid var(--gray);
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
}

.left-table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    border-right: 0.1rem solid var(--gray);
}

.right-table {
    width: 50%;
    border-left: 0.1rem solid var(--gray);
}

.title {
    font-variant: small-caps;
    color: var(--light);
    font-size: 1.2rem;
    font-family: 'Comfortaa', sans-serif;
}

.left-info {
    color: var(--light-gray);
    font-size: 0.8rem;
}

.left-table-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1rem solid var(--gray);
    padding: 0.5rem;
}

.right-table-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1rem solid var(--gray);
    padding: 0.5rem;
}

.left-table-content {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.right-table-content {
    padding: 0.5rem;
}

.table-link {
    margin: 0.5rem;
}

/* .mat-tab-group {
    background-color: var(--dark-gray);
    color:var(--white);
}

.mat-tab-header, .mat-tab-header-pagination-controls-enabled {
    background-color: var(--gray);
    color:var(--white);
}

.mat-tab-label-container {
    color:white;
} */

::ng-deep.mat-tab-label-active {
    font-weight: bold;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    background-color: var(--gray);
}

.tab {
    background-color: var(--gray);
}

.tab-nav {
    display: flex;
}

.label {
    color: var(--white);
    font-size: 0.8rem;
    left: -0.1rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-input {
    width: 20rem;
    height: 2.8rem;
    background: var(--white);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 0.8rem;
    box-shadow: 0rem 0.5rem 1rem -0.3rem var(--purple);
}

#search-input:hover {
    box-shadow: 0rem 0.5rem 1rem -0.3rem var(--light-purple);
    transition: all 0.2s;
}

#search-submit {
    border-radius: 1.625rem;
    margin-left: -3.5rem;
    width: 3.5rem;
    height: 2.8rem;
    background: none;
    border: none;
    outline: none;
    transition: background 0.5s ease;
}
  
#search-submit:hover {
    cursor: pointer;
    background: rgba(220, 220, 220, 2);
    border-radius: 1.625rem;
}

.def-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.2rem solid var(--light-gray);
}


.def-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 0.2rem solid var(--light-gray);
}

.def-content-header {
    display: flex;
    align-items: center;
}

.def-title {
    font-family: 'Comfortaa', sans-serif;
    color: var(--light-purple);
    margin: 0.5rem;
    font-size: 1.5vw;
}

.def-gender {
    color: var(--light-gray);
    font-style: italic;
    font-size: 0.8vw;
    margin: 0.5rem;
}

.definition {
    padding: 1rem;
}

.synonymes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80%;
    grid-gap: 0.1rem;
    padding: 1rem;
}

.grid {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

::ng-deep mat-tab-header {
    min-width: 36vw;
    background-color: var(--gray);
}
