

<div class="content">
    <div class="left-bar">
        <div class="left-header">
            Les devoirs à la maison sont-ils bénéfiques ?
        </div>
        <div class="voc-users">
            <app-vocal-users-component [icon]="'var(--light-purple)'" [name]="'Marion'"></app-vocal-users-component>
            <app-vocal-users-component [icon]="'var(--light-blue)'" [color]="'var(--light-gray)'" [name]="'Vous'"></app-vocal-users-component>
            <app-vocal-users-component [icon]="'var(--light-purple)'" [name]="'Ahmed'"></app-vocal-users-component>
            <app-vocal-users-component [icon]="'var(--blue)'" [name]="'Sandrine'"></app-vocal-users-component>
            <app-vocal-users-component [icon]="'var(--light-blue)'" [name]="'Bryan'"></app-vocal-users-component>
            <app-vocal-users-component [icon]="'var(--purple)'" [name]="'Taylor'"></app-vocal-users-component>
            <div id="audioGrid"></div>
        </div>
        <div class="voc-actions">
            <div class="left-actions">
                <button class="mute"><mat-icon>mic</mat-icon></button>
                <button class="link"><mat-icon>link</mat-icon></button>
            </div>
            <div class="right-actions">
                <button class="leave" disabled><mat-icon>call_end</mat-icon><div class="small-caps">Quitter le débat</div></button>
                <button class="join" (click)="initVoice()" >Participer au débat</button>
            </div>
        </div>
        <div class="voc-table">
            <div class="left-table">
                <div class="left-table-header">
                    <div class="title">Liste d'attente</div>
                    <div class="left-info">Vous avez la parole</div>
                </div>
                <div class="left-table-content">
                    <ol>
                        <li><span>Ahmed</span></li>
                        <li><span>Marion</span></li>
                        <li><span>Sandrine</span></li>
                        <li><span>Bryan</span></li>
                        <li><span>Taylor</span></li>
                    </ol>
                </div>
            </div>
            <div class="right-table">
                <div class="right-table-header">
                    <div class="title">Liste des liens</div>
                </div>
                <div class="right-table-content">
                    <div class="table-link">
                        <a href="https://dohanews.co/prying-eyes-are-marketing-messages-considered-an-infringement-on-privacy/">
                            https://dohanews.co/prying-eyes-are-marketing-messages-considered-an-infringement-on-privacy/
                        </a>
                    </div>
                    <div class="table-link">
                        <a href="https://dohanews.co/prying-eyes-are-marketing-messages-considered-an-infringement-on-privacy/">
                            https://dohanews.co/prying-eyes-are-marketing-messages-considered-an-infringement-on-privacy/
                        </a>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    <div class="right-bar">
        <mat-tab-group [style]="'background-color:var(--dark-gray)'"  >
            <mat-tab >
                <ng-template mat-tab-label>
                    <span class="label">Définitions</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="tab-content">
                        <div class="def-header">
                            <form autocomplete="off" #p='ngForm'>
                                <div class="searchBar">
                                  <input id="search-input" type="text" placeholder="Chercher une définition" name="texte" value="" ngModel/>
                                  <button id="search-submit" type="submit" name="searchQuerySubmit">
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                            </form>
                        </div>
                        <div class="def-content">
                            <div class="def-content-header">
                                <div class="def-title">
                                    Agrégation
                                </div>
                                <div class="def-gender">
                                    Féminin
                                </div>
                            </div>
                            <div class="definition">
                                Action d'agréger, fait de s'agréger, ou admission sur concours au titre d'agrégé.
                            </div>
                        </div>
                        <div class="def-content">
                            <div class="def-content-header">
                                <div class="def-title">
                                    Plébisciter
                                </div>
                                <div class="def-gender">
                                    Verbe transitif
                                </div>
                            </div>
                            <div class="definition">
                                Voter (qqch.), désigner (qqn) par plébiscite. Élire (qqn) ou approuver (qqch.) à une majorité écrasante.
                            </div>
                        </div>
                    </div> 
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">Synonymes</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="tab-content">
                        <div class="def-header">
                            <form autocomplete="off" #p='ngForm'>
                                <div class="searchBar">
                                  <input id="search-input" type="text" placeholder="Chercher un synonyme" name="texte" value="" ngModel/>
                                  <button id="search-submit" type="submit" name="searchQuerySubmit">
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                            </form>
                        </div>
                        <div class="def-content">
                            <div class="def-content-header">
                                <div class="def-title">
                                    Agrégation
                                </div>
                                <div class="def-gender">
                                    Féminin
                                </div>
                            </div>
                            <div class="synoymes">
                                Synonyme(s) :
                                <div class="synonymes-grid">
                                    <div class="grid">Accrétion.</div>
                                    <div class="grid">Agglomération.</div>
                                    <div class="grid">Assemblage.</div>
                                    <div class="grid">Association.</div>
                                </div>                                
                            </div>
                        </div>
                        <div class="def-content">
                            <div class="def-content-header">
                                <div class="def-title">
                                    Plébisciter
                                </div>
                                <div class="def-gender">
                                    Verbe transitif
                                </div>
                            </div>
                            <div class="synoymes">
                                Synonyme(s) :
                                <div class="synonymes-grid">
                                    <div class="grid">Élire.</div>
                                    <div class="grid">Choisir.</div>
                                    <div class="grid">Confirmer.</div>
                                    <div class="grid">Rassurer.</div>
                                </div>                                
                            </div>
                        </div>
                    </div> 
                </ng-template> 
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">Statistiques</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="tab-content">
                        <app-statistiques-component></app-statistiques-component>
                    </div> 
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="label">Navigateur web</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="tab-nav">
                        <iframe style="width: 100%; height: 100vh;" src="https://www.google.fr/webhp?igu=1"></iframe>
                    </div> 
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>




