

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let oui of users()">
            <td>{{oui.nom}} {{oui.prenom}}</td>
            <td>{{oui.email}}</td>
            <td>{{oui.mdp}}</td>
        </tr>
    </tbody>
</table>

<form #f='ngForm' (ngSubmit)="submitForm(f)" style="margin-inline: 600px; margin-top: 50px;">
    <h3>Créez un utilisateur</h3>
    <div class="form-group">
        <input type="email" class="form-control " name="email" value="" placeholder="Email" ngModel />
    </div>
    <br>
    <div class="form-group">
        <input type="password" class="form-control " name="mdp" value="" placeholder="Password" ngModel />
    </div>
    <br>
    <div class="form-group">
        <input type="text" class="form-control " name="nom" value="" placeholder="Nom" ngModel />
    </div>
    <br>
    <div class="form-group">
        <input type="text" class="form-control " name="prenom" value="" placeholder="Prenom" ngModel />
    </div>
    <br>
    <div class="input-group mb-3">
        <button type="submit" class="btn btn-dark center">Ajoutez un utilisateur</button>
    </div>  
</form>


