  <!-- -->
<div class="accueil">
  <div class="left-bar">

    <div class="theme-sharing">
      <mat-icon [inline]="true" class="theme-sharing-icon">edit</mat-icon>
      <h2 class="theme-sharing-title">Proposer un thème de débat</h2>
    </div>
    
    <p><b class="pink-text">Vérifier que votre thème n'existe pas déjà</b> dans la barre de recherche.</p>

    <p>Si votre thème n'existe pas, descendez tout en bas des propositions et cliquez sur "Proposer un nouveau thème".</p>
    <p class="theme-legend">Votre thème sera traité dans une liste de proposition que vos supérieurs validerons</p><br>

    <form autocomplete="off" method="get" action="#">
      <div class="searchBar">
        <input id="search-input" type="text" placeholder="Chercher un thème..." value="" />
        <button id="search-submit" type="submit" name="searchQuerySubmit">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>

    <br>

    <!--Débat prog-->
    <div class="debate-preview">
      <div class="debate-info">
        <p class="debate-title">Débat programmé le <b class="pink-text">{{todayDate}}</b></p>
        <p class="debate-theme">Le débat sera sur le thème: <b class="pink-text">L'air du marketing digital</b></p>
      </div>
      <div class="debate-actions">
        <button class="debate-btn" routerLink="/messaging">Rejoindre le débat</button>
      </div>
    </div>

    <div class="theme-debate">
      <mat-icon [inline]="true" class="theme-debate-icon">chat</mat-icon>
      <h2 class="theme-debate-title">Thèmes de débat</h2>
    </div>

    <div class="cards">
      <div class="card">
        <div class="card-title">Débats les plus appréciés</div>
        <div class="card-text">
          <ol>
            <li>Pour ou contre l'uniforme à l'école ?</li>
            <li>Pour ou contre l'enseignement à distance ?</li>
            <li>La guerre peut-elle être justifiée ?</li>
          </ol>
        </div>
      </div>
      <div class="card">
        <div class="card-title">Nouveaux débats</div>
        <div class="card-text">
          <ul>
            <li>Pour ou contre Facebook ?</li>
            <li>Les devoirs à la maison sont-ils bénéfiques ?</li>
            <li>Est-ce une bonne chose d'avoir rendu les vaccins obligatoire ?</li>
          </ul>
        </div>
      </div>
    </div>
  </div> 

  <div class="right-bar">

    <div class="actu-debate">
      <mat-icon [inline]="true" class="actu-debate-icon">assignment</mat-icon>
      <h2 class="actu-debate-title">Les actualités</h2>
    </div>

    <app-preview-actu-component [titre]="titre1" [description]="description1" [image]="image1">
    </app-preview-actu-component>
    <app-preview-actu-component [titre]="titre2" [description]="description2" [image]="image2">
    </app-preview-actu-component>
    <app-preview-actu-component [titre]="titre3" [description]="description3" [image]="image3">
    </app-preview-actu-component>

  </div>
</div>