
input, button {
    background-color:transparent;
    border:0;
}

.left-bar {
    padding: 2rem;
    border-right: 0.2rem solid var(--gray); 
}

.right-bar {
    padding: 2rem;
}

.accueil {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-blue);
    color: var(--white);
    min-height: 100vh;
}

.theme-sharing {
    color: var(--purple);
    display: flex;
    align-items: center;
    height: auto;
}

.theme-sharing-title {
    color: var(--white);
    text-decoration: underline;
}

.theme-sharing-icon {
    font-size: 1.5rem !important;
    border: 0.2rem solid var(--purple);
    border-radius: 10%;
    margin-right: 0.6rem;
}

.theme-legend {
    color: var(--light-gray);
    font-size: 0.75rem;
}

.wrapper {
    display:inline-block;
    background-color: var(--white);
    border-radius: 20%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-input {
    width: 20vw;
    height: 2.8rem;
    background: var(--white);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3vw 0 1.5rem;
    font-size: 0.8rem;
    box-shadow: 0rem 0.5rem 1rem -0.3rem var(--purple);
}

#search-input:hover {
    box-shadow: 0rem 0.5rem 1rem -0.3rem var(--light-purple);
    transition: all 0.2s;
}

#search-submit {
    border-radius: 1.625rem;
    margin-left: -3vw;
    width: 3vw;
    height: 2.8rem;
    background: none;
    border: none;
    outline: none;
    transition: background 0.5s ease;
}
  
#search-submit:hover {
    cursor: pointer;
    background: rgba(220, 220, 220, 2);
    border-radius: 1.625rem;
}

.debate-preview {
    display: flex;
    border: 0.2rem solid var(--light-gray);
    padding: 0.5rem;
    margin: 1rem 3rem 0rem 0rem;
    width: 90%;
}

.debate-info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.debate-actions {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.debate-title {
    text-decoration: underline;
    font-size: 1rem;
}

.debate-theme {
    font-size: 0.75rem;
}

.debate-btn {
    padding: 0.5rem;
    height: 3rem;
    border-radius: 0.8rem;
    font-variant: small-caps;
    color: var(--light);
    background-color: var(--purple);
    background-image: linear-gradient(90deg, var(--light-purple), rgba(255, 255, 255, 0) );
    transition: all 1s;
    border:none;
}

.debate-btn:hover {
    filter: brightness(0.60);
    color: var(--white);
}

.theme-debate, .actu-debate {
    color: var(--purple);
    display: flex;
    align-items: center;
    height: auto;
    margin-top: 1rem;
}

.theme-debate-title, .actu-debate-title {
    color: var(--white);
    text-decoration: underline;
}

.theme-debate-icon, .actu-debate-icon {
    font-size: 1.5rem !important;
    margin-right: 0.6rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 1rem;
    width: 15rem;
    min-height: 5rem;
    grid-template-rows: 1.5rem 3.5rem 1fr 3.5rem;
    border-radius: 0.8rem;
    box-shadow: 0rem 0.2rem 1rem -0.3rem var(--purple);
    transition: all 0.2s;
    background: radial-gradient(var(--white), var(--light-gray));
}

.card:hover {
    box-shadow: 0rem 0.2rem 1rem -0.3rem var(--light-purple);
    transform: scale(1.01);
}

.card-title {
    border:0;
    color: var(--dark-gray);
    border-bottom: 0.1rem solid var(--dark-gray);
    min-height: 2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
}

.card-text {
    padding: 1rem 1rem 1rem 0;
    font-size: 0.75rem;
    color: var(--gray);
}

.pink-text {
    color: var(--light-purple);
}