﻿@import "node_modules\flexmonster\theme\flexmonster-base.less";

/*-------------------------------------------------------
|||||||||||||||||||||||||| FONTS ||||||||||||||||||||||||
---------------------------------------------------------*/
@font-family: Arial, sans-serif;
@font-size: 12px;
@font-size-mobile: 14px;

/*-------------------------------------------------------
||||||||||||||||||||| THEME COLORS ||||||||||||||||||||||
---------------------------------------------------------*/
/* =================== USAGE: ========================== 
Not used in flexmonster-base.less directly; 
Used in this file to define bg, border and other colors 
======================================================== */

/* ======== basic colors, defined for this theme ======= */
@theme-color: #222222;
@theme-color-dark: #2F2F2F;
@theme-color-superdark: #111111;
@theme-color-midlight: #707070; //cdcdcd;
@theme-color-light: #F28FDD; //#ebebeb;
@theme-color-superlight: #9C00FF;
@theme-color-supersuperlight: #9C00FF;
@theme-color-danger: #F44336;

/* ===== basic grey colors, common for all themes ===== */
@theme-base-color: #999;
@theme-base-color-dark: #555;
@theme-base-color-superdark: #3c3c3c;
@theme-base-color-midlight: #d5d5d5; //cdcdcd;
@theme-base-color-light: #e9e9e9; //#ebebeb;
@theme-base-color-superlight: #f7f7f7;
@theme-base-color-supersuperlight: #fbfbfb;

/*-------------------------------------------------------
|||||||||||||||||||||| TEXT COLORS ||||||||||||||||||||||
---------------------------------------------------------*/
@theme-text-color: #fff;
@theme-text-color-inverted: #fff;
@theme-text-color-midlight: #fff;
@theme-text-color-light: #999;
@theme-text-color-superlight: #cecece;

/*-------------------------------------------------------
||||||||||||||||||| TOOLBAR STYLES ||||||||||||||||||||||
---------------------------------------------------------*/
@toolbar-text-color: #fff;
@toolbar-background-color: @background-ui-element-base-color;

@toolbar-icon-fill-border: #5E5E5E;
@toolbar-icon-fill-background: #9C00FF;

@toolbar-dropdown-background-color: @background-ui-element-base-color;
@toolbar-dropdown-border: #fff;
@toolbar-dropdown-element-hover: @ui-background-light;
@toolbar-dropdown-element-divider: 1px dotted #dcdcdc;

/*-------------------------------------------------------
|||||||||||||||||| BACKGROUND COLORS ||||||||||||||||||||
---------------------------------------------------------*/
@background-base-color: #000141;
@background-ui-element-base-color: #000141;
@ui-background-dark: @theme-color-light;
@ui-background: @theme-color-light;
@ui-background-light: @theme-color-superlight;
@ui-background-superlight: #000141;

/*-------------------------------------------------------
|||||||||||||||||||| BORDER COLORS ||||||||||||||||||||||
---------------------------------------------------------*/
@ui-border-color-dark: @theme-color-dark;
@ui-border-color: @theme-color;
@ui-border-color-light: #555;
@ui-border-color-superlight: #aaaaaa;

/*-------------------------------------------------------
|||||||||||||||||||||||| BORDERS ||||||||||||||||||||||||
---------------------------------------------------------*/
@ui-border-dark: 1px solid @ui-border-color-dark;
@ui-border: 1px solid @ui-border-color;
@ui-border-light: 1px solid @ui-border-color-light;
@ui-border-superlight: 1px solid @ui-border-color-superlight;


/*-------------------------------------------------------
||||||||||||||||||| GRID SHEET HEADERS|||||||||||||||||||
---------------------------------------------------------*/
@grid-sheet-header-text-color: @theme-text-color-inverted;
@grid-sheet-header-color: @theme-color;
@grid-sheet-header-border-color: @theme-color-dark;
@grid-sheet-header-border-right: none;
@grid-sheet-header-border-bottom: 1px solid @grid-sheet-header-border-color;

/*-------------------------------------------------------
||||||||||||||||||||||||| GRID ICONS|||||||||||||||||||||
---------------------------------------------------------*/
@grid-icon-color: @theme-color-midlight;

/*-------------------------------------------------------
|||||||||||||||| GRID TABLE HEADER CELLS|||||||||||||||||
---------------------------------------------------------*/
/* ===== table header row ===== */
@grid-table-header-row-color: @theme-color-supersuperlight;
@grid-table-header-row-text-color: @theme-text-color;
@grid-table-header-row-border-color: #ECCFC3;
@grid-table-header-row-border-right: none;
@grid-table-header-row-border-bottom: 1px solid @grid-table-header-row-border-color;

/* ===== table header column ===== */
@grid-table-header-column-color: @theme-color;
@grid-table-header-column-text-color: @theme-text-color-inverted;
@grid-table-header-column-border-color: @theme-color-dark;
@grid-table-header-column-border-right: none;
@grid-table-header-column-border-bottom: 1px solid @grid-table-header-column-border-color;

/* ===== table header subtotals row ===== */
@grid-table-header-total-row-cell-color: #9C00FF;
@grid-table-header-total-row-cell-text-color: #fff;
@grid-table-header-total-row-cell-font-weight: normal;
@grid-table-header-total-row-cell-border-color: #fff;
@grid-table-header-total-row-cell-border-right: none;
@grid-table-header-total-row-cell-border-bottom: 1px solid @grid-table-header-total-row-cell-border-color;

/* ===== table header subtotals column ===== */
@grid-table-header-total-column-cell-color: @theme-color;
@grid-table-header-total-column-cell-text-color: @theme-text-color-inverted;
@grid-table-header-total-column-cell-font-weight: normal;
@grid-table-header-total-column-cell-border-color: @theme-color-dark;
@grid-table-header-total-column-cell-border-right: none;
@grid-table-header-total-column-cell-border-bottom: 1px solid @grid-table-header-total-column-cell-border-color;

/* ===== table header grand total row ===== */
@grid-table-header-grand-total-row-cell-color: @theme-color-superdark;
@grid-table-header-grand-total-row-cell-text-color: @theme-text-color-inverted;
@grid-table-header-grand-total-row-cell-font-weight: bold;
@grid-table-header-grand-total-row-cell-border-color: @theme-color;
@grid-table-header-grand-total-row-cell-border-right: none;
@grid-table-header-grand-total-row-cell-border-bottom: 1px solid @grid-table-header-grand-total-row-cell-border-color;

/* ===== table header grand total column ===== */
@grid-table-header-grand-total-column-cell-color: @theme-color-superdark;
@grid-table-header-grand-total-column-cell-text-color: @theme-text-color-inverted;
@grid-table-header-grand-total-column-cell-font-weight: bold;
@grid-table-header-grand-total-column-cell-border-color: darken(@grid-table-header-grand-total-column-cell-color, 1.8%);
@grid-table-header-grand-total-column-cell-border-right: none;
@grid-table-header-grand-total-column-cell-border-bottom: 1px solid @grid-table-header-grand-total-column-cell-border-color;

/*-------------------------------------------------------
|||||||||||||||||||| GRID FILTERS |||||||||||||||||||||||
---------------------------------------------------------*/
/* ===== grid filter icon, common for all filter header cells ===== */
@grid-filter-icon-color: @grid-icon-color;

/* ===== table header filters column area ===== */
@grid-table-header-filter-column-search-highlight: #FFFF00;
@grid-table-header-filter-column-pane-color: @theme-color;
@grid-table-header-filter-column-pane-text-color: @theme-text-color-inverted;
@grid-table-header-filter-column-pane-border-color: @theme-color-dark;
@grid-table-header-filter-column-pane-border-bottom: 1px solid @grid-table-header-filter-column-pane-border-color;
@grid-table-header-filter-column-pane-border-right: none;

/* ===== table header column filter cell ===== */
@grid-table-header-filter-column-cell-color: @theme-color-superdark;
@grid-table-header-filter-column-cell-color-hover: darken(@grid-table-header-filter-column-cell-color, 5%);
@grid-table-header-filter-column-cell-text-color: @theme-text-color-inverted;
@grid-table-header-filter-column-cell-border-color: @theme-color-dark;
@grid-table-header-filter-column-cell-border-bottom: 1px solid @grid-table-header-filter-column-cell-border-color;
@grid-table-header-filter-column-cell-border-right: none;

/* ===== table header row filter cell ===== */
@grid-table-header-filter-row-cell-color: @theme-color-superdark;
@grid-table-header-filter-row-cell-color-hover: darken(@grid-table-header-filter-row-cell-color, 5%);
@grid-table-header-filter-row-cell-text-color: @theme-text-color-inverted;
@grid-table-header-filter-row-cell-border-color: @theme-color-dark;
@grid-table-header-filter-row-cell-border-bottom: 1px solid @grid-table-header-filter-row-cell-border-color;
@grid-table-header-filter-row-cell-border-right: none;

/* ===== report filter cell ===== */
@grid-report-filter-cell-color: @theme-color-superdark;
@grid-report-filter-subtext-color: #888;
@grid-report-filter-cell-color-hover: darken(@grid-report-filter-cell-color, 5%);

/* ===== flat table filter cell ===== */
@grid-flat-table-filter-header-color: @theme-color-superdark;
@grid-flat-table-filter-header-text-color: @theme-text-color-inverted;
@grid-flat-table-filter-header-color-hover: darken(@grid-flat-table-filter-header-color, 5%);
@grid-flat-table-filter-cell-border-color: @theme-color-dark;
@grid-flat-table-filter-cell-border-bottom: 1px solid @grid-flat-table-filter-cell-border-color;
@grid-flat-table-filter-cell-border-right: none;

/* ===== drill-through table filter cell and empty filter cell styles ===== */
@grid-table-header-filter-cell-color: @theme-color;
@grid-table-header-filter-cell-text-color: @theme-text-color-inverted;
@grid-table-header-filter-cell-border-color: @theme-color-dark;
@grid-table-header-filter-cell-border-bottom: 1px solid @grid-table-header-filter-cell-border-color;
@grid-table-header-filter-cell-border-right: none;

/* ======== live filtering header ============= */
@grid-live-filter-color: @theme-color-superdark;

/*-------------------------------------------------------
||||||||||||||||||||||| GRID CELLS ||||||||||||||||||||||
---------------------------------------------------------*/
/* ===== general grid cell style ===== */
@grid-cell-color: #D3D3D3;
@grid-cell-text-color: @theme-text-color;
@grid-cell-border-color: #F3E6E2;
@grid-cell-border-right: none;
@grid-cell-border-bottom: 1px solid @grid-cell-border-color;

/* ===== subtotal row grid cell style ===== */
@grid-total-row-cell-color: @theme-color-supersuperlight;
@grid-total-row-cell-text-color: @theme-text-color;
@grid-total-row-cell-font-weight: normal;
@grid-total-row-cell-border-color: #F1D4C7;
@grid-total-row-cell-border-right: none;
@grid-total-row-cell-border-bottom: 1px solid @grid-total-row-cell-border-color;

/* ===== subtotal column grid cell style ===== */
@grid-total-column-cell-color: @grid-cell-color;
@grid-total-column-cell-text-color: @theme-text-color;
@grid-total-column-cell-font-weight: normal;
@grid-total-column-cell-border-color: #F3E6E2;
@grid-total-column-cell-border-right: none;
@grid-total-column-cell-border-bottom: 1px solid @grid-total-column-cell-border-color;

/* ===== grand total row grid cell style ===== */
@grid-grand-total-row-cell-color: @theme-color;
@grid-grand-total-row-cell-text-color: @theme-text-color-inverted;
@grid-grand-total-row-cell-font-weight: bold;
@grid-grand-total-row-cell-border-color: @theme-color;
@grid-grand-total-row-cell-border-right: none;
@grid-grand-total-row-cell-border-bottom: 1px solid @grid-grand-total-row-cell-border-color;

/* ===== grand total column grid cell style ===== */
@grid-grand-total-column-cell-color: @theme-color-supersuperlight;
@grid-grand-total-column-cell-text-color: @theme-text-color;
@grid-grand-total-column-cell-font-weight: normal;
@grid-grand-total-column-cell-border-color: #F3D5C9;
@grid-grand-total-column-cell-border-right: none;
@grid-grand-total-column-cell-border-bottom: 1px solid @grid-grand-total-column-cell-border-color;

/* ===== grand total row-column intersection grid cell style ===== */
@grid-grand-total-row-column-cell-color: @theme-color-superdark;
@grid-grand-total-row-column-cell-text-color: @theme-text-color-inverted;
@grid-grand-total-row-column-cell-font-weight: bold;
@grid-grand-total-row-column-cell-border-color: @theme-color;
@grid-grand-total-row-column-cell-border-right: none;
@grid-grand-total-row-column-cell-border-bottom: 1px solid @grid-grand-total-row-column-cell-border-color;

/*-------------------------------------------------------
|||||||||||||||||| GRID DATA SHEET ||||||||||||||||||||||
---------------------------------------------------------*/
@grid-data-sheet-border-color: @grid-cell-border-color;
@grid-data-sheet-border-top: none;
@grid-data-sheet-border-left: none;

/*-------------------------------------------------------
||||||||||||||| GRID DRILL-THROUGH LINK |||||||||||||||||
---------------------------------------------------------*/
@grid-drilldown-link-text-color: @grid-icon-color;

/*-------------------------------------------------------
|||||||||||||||| GRID SELECTION CANVAS ||||||||||||||||||
---------------------------------------------------------*/
@grid-selection-canvas-color: rgba(255, 245, 106, 0.2);
@grid-selection-canvas-border: 1px solid #ffffff;

/*-------------------------------------------------------
|||||||||||||||| GRID AUTO CALCULATION BAR ||||||||||||||
---------------------------------------------------------*/
@grid-auto-calculation-bar: @theme-color;
@grid-auto-calculation-bar-text-color: @background-base-color;
@grid-auto-calculation-bar-text-results-color: @background-base-color;

/*-------------------------------------------------------
||||||||||||| GRID RESIZE HANDLE & INDICATOR ||||||||||||
---------------------------------------------------------*/
@grid-resize-indicator-color: darken(@theme-color-superdark, 5%);
@grid-resize-handle-color: darken(@theme-color-superdark, 5%);

/*-------------------------------------------------------
|||||||||||||||||||||||| CHARTS |||||||||||||||||||||||||
---------------------------------------------------------*/
@charts-label-font-size: 14px;
@charts-axis-font-size: 14px;
@charts-axis-text-color: @theme-text-color;
@charts-axis-title-color: @theme-text-color;
@charts-axis-stroke-color: #cccccc;
@charts-point-fill-color: #FFFFFF;
@charts-pie-label-color: @theme-text-color;

/*-------------------------------------------------------
|||||||||||||||||||||||||||| UI |||||||||||||||||||||||||
---------------------------------------------------------*/
@ui-component-border: 1px solid @theme-color-midlight;
@ui-pop-up-border: @ui-border-light;
@ui-element-border-color: @ui-border-color-light;
@ui-element-border: @ui-border-light;
@ui-element-inner-border: @ui-border-superlight;

/* ================= checkbox style ==================== */
@ui-element-checkbox-color: white;
@ui-element-checkbox-font-weight: bold;

/* ===================== text style ==================== */
@ui-element-text-color: @theme-text-color;
@ui-element-font-size: 14px;

/* ============== draggable item style ================= */
@ui-draggable-item-backgound-color: white;
@ui-draggable-item-text-color: black;

/* ================ button hover colors ================ */
@ui-btn-dark-color-hover: darken(@ui-background-dark, 5%);
@ui-btn-color-hover: @ui-background-light; //#f2f2f2;
@ui-btn-color-light-hover: @ui-background-superlight;
@ui-btn-border-radius: 4px;

/* ================= button text style ================= */
@ui-btn-font-size: 14px;
@ui-btn-text-color: @theme-color-dark;
@ui-btn-dark-text-color: @theme-text-color-inverted;
@ui-btn-light-text-color: @theme-text-color-midlight;
@ui-btn-toggle-text-color: @theme-text-color-light;
@ui-btn-toggle-selected-text-color: @ui-element-text-color;
@ui-btn-toggle-dark-text-color: @ui-element-text-color;
@ui-btn-toggle-dark-selected-text-color: @theme-text-color-inverted;
@ui-btn-calc-text-color: @theme-text-color-inverted;

/* ==================== icon style ===================== */
@ui-icon-color: @theme-color;
@ui-icon-color-dark: @theme-color-dark;
@ui-alert-icon-color: #FFFFFF;

/* ====================== label style ================== */
@ui-label-color-dark: @theme-color-dark;
@ui-label-color: @theme-text-color;
@ui-label-color-light: #fff;
@ui-label-font-size: 14px;

/* =================== text area style ================= */
@ui-text-area-color: @ui-element-text-color;
@ui-text-area-background-color: #FFFFFF;

/* ====================== titles style ================= */
@ui-title-color: @theme-text-color;
@ui-title-font-size: 24px;
@ui-title-font-size-smaller: 18px;
@ui-subtitle-color: @ui-label-color-light;
@ui-subtitle-font-size: @ui-label-font-size;

/* ====================== prompt style ================= */
@ui-prompt-color: @theme-color-midlight;
@ui-prompt-icon-color: @ui-border-color-superlight;

/*-------------------------------------------------------
||||||||||| ADDITIONAL STYLES FOR THIS THEME ||||||||||||
---------------------------------------------------------*/

#fm-pivot-view .fm-data-sheet {
    .fm-row {
        .fm-cell.fm-total.fm-grand-total-c.fm-total-r:not(.fm-grand-total-r) {
            background-color: #FFBB9D;
            border-bottom: 1px solid #EDAD91;
        }

        .fm-cell.fm-level-0:not(.fm-grand-total) {
            background-color: #F28FDD;
            border-bottom: 1px solid #fff;
        }

        .fm-cell.fm-level-0.fm-grand-total-c:not(.fm-grand-total-r) {
            background-color: #FFBB9D;
            border-bottom: 1px solid #EDAD91;
        }

        .fm-cell.fm-total.fm-total-c.fm-total-r:not(.fm-grand-total) {
            background-color: @grid-total-row-cell-color;
            border-bottom: @grid-total-row-cell-border-bottom;
        }
    }
}

#fm-pivot-view .fm-rows-sheet {
    .fm-row {

        .fm-cell.fm-header.fm-header-r.fm-total-r:not(.fm-grand-total),
        .fm-cell.fm-level-0:not(.fm-grand-total) {
            background-color: @grid-table-header-total-row-cell-color;
            border-bottom: @grid-table-header-total-row-cell-border-bottom;
            color: @grid-table-header-total-row-cell-text-color;

            i.fm-icon:before {
                color: @theme-color-supersuperlight;
            }

            span.fm-hierarchy-link {
                color: @theme-color-supersuperlight;
            }
        }
    }
}

/* CHARTS */

.fm-charts-color-1 {
    fill: var(--light-purple) !important;
}

.fm-charts-color-2 {
    fill: var(--purple) !important;
}

.fm-charts-color-3 {
    fill: var(--blue) !important;
}

.fm-charts-color-4 {
    fill: var(--light-blue)!important;
}

.fm-charts-color-5 {
    fill: var(--white) !important;
}